html { 
  background: url(/img/green.PNG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
li {
	list-style-type: none;
}
h1 {
    text-align: center;
}
.header-right a {
  color: black;
  padding: 12px;
  font-size: 18px;
  display: flex;
  flex-flow: row-wrap;
  display: inline-block;
}

.header-right a:hover {
  background-color: darkseagreen;
  border: solid green 0.5px;
}

.header-right {
	color: black;
	text-align: center;
}
.Article p {
	font-size: 1.25em;
	padding-left: 100px;
	padding-right: 100px;
}

@media screen and (min-width: 980px) {
	.Article1 h1 {
	font-size: 3em;
	padding-left: 100px;
	padding-right: 100px;
}
	.Article h3 {
	font-size: 2em;
	padding-left: 100px;
	padding-right: 100px;
	}
		.Article h4 {
	font-size: 1.5em;
	padding-left: 100px;
	padding-right: 100px;
	}
}

@media screen and (max-width: 980px) {
    .Article p {
	 font-size: 1em;
	 padding-left: 25px;
	 padding-right: 25px;
  }
  .Article h2, h3, h4 {
	padding-left: 25px;
	padding-right: 25px;
}
        body {
    background-color: ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (max-width: 540px) {
  .Article h2, h3, h4 {
	padding-left: 25px;
	padding-right: 25px;
}
  .Article p {
	  font-size: 1em;
	  padding-left: 25px;
	  padding-right: 25px;
  }
}

@media screen and (max-width: 540px) {
    body {
    background-color: ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 980px) {
    div#ContactForm p{
    font-size: 2em;
}
}

@media screen and (max-width: 540px) {
  .header a {
    float: none;
    display: block;
  }
  .header-right a {
    float: none;
	display: block;
  }
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
}

.wrapper > * {
  flex: 1 100%;
}

#footerLeft { width: 47%; 
			float: left; 
			text-align: center; 
			}
#footerRight { width: 47%; 
			float: right;
			text-align: center; 
			}
.Article {
    background-color: darkseagreen;
    padding: 20px;
    border: solid green 0.5px;
}
.footer {
    background-color: darkseagreen;
    padding: 20px;
    border: solid green 0.5px;
    font-size: 1.33em;
}
footer {
    background-color: darkseagreen;
    padding: 20px;
    border: solid green 0.5px;
}